<!DOCTYPE html>
<html>

<head>
    <title>Informazioni utili!</title>
</head>

<body>
    <h1>Questa è una grande intestazione!</h1>
    <p>Questo è solo un paragrafo di testo</p>
    <h2>E questa è un'intestazione leggermente più piccola</h2>
    <ul>
        <li>Questo è un elemento di un elenco puntato (il primo)</li>
        <li>E questo è il secondo elemento</li>
    </ul>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcrL-8pU2t-G7pR_w3MdawCrFr1Q39K4YxkQ&s"
        alt="Image 1">

    <iframe
  width="650"
  height="450"
  src="https://embed.windy.com/embed2.html?lat=45.4642&lon=9.19&zoom=5&level=surface&overlay=wind"
  frameborder="0">
</iframe>
</body>

</html>